<!-- veterinaria_project/gestion/templates/base_generic.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación de Veterinaria{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenido a la Aplicación de Veterinaria</h1>
        <nav>
            <ul>
                <li><a href="{% url 'listar_veterinarias' %}">Veterinarias</a></li>
                <li><a href="{% url 'listar_doctores' %}">Doctores Veterinarios</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© UTPL / 2024 Mi primera Aplicación de Veterinaria </p>
    </footer>
</body>
</html>
